.wrapper
    .banner
        .banner__pers
            picture
                source(media="(max-width: 1280px) and (min-height: 1240px)" srcset="img/sam-1300-en.png")
                source(media="(max-width: 1440px)" srcset="img/sam-tab-en.png")
                img(src="./img/sam-desc-en.png" alt="favbet")
        .banner__plants
            picture
                source(media="(max-width: 1440px)" srcset="img/plants-tab.png")
                img(src="./img/plants-desc.png" alt="favbet")
        p.banner__text *The total prize fund of the "Shake up Sam for Christmas" Promotion amounts to 5 000 000 ₴ in electronic cash substitutes, 22 025 free spins, and other physical prizes determined by the Organizer. The promotion is held from December 11, 2024 to December 25, 2024. Details of the promotion are available on the website favbet.ua.
